<!DOCTYPE html>
<html>
<head>
    <title>{{ quiz.title }} - Manual Marking</title>
</head>
<body>
    <h1>{{ quiz.title }} - Manual Marking</h1>
    <form method="post">
        Index Number: <input type="text" name="index" required><br>
        <table border="1" cellpadding="5">
            <tr><th>Q#</th><th colspan="4">Select Answer</th></tr>
            {% for q in quiz.questions %}
            <tr>
                <td>{{ loop.index }}</td>
                {% for opt in q.options %}
                    <td><input type="radio" name="q{{ loop.parent.index0 }}" value="{{ loop.index }}"></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
