<!DOCTYPE html>
<html>
<head>
    <title>{{ quiz.title }} - Answer Sheet</title>
</head>
<body>
    <h1>{{ quiz.title }} - Answer Sheet</h1>
    <form>
        Index Number: <input type="text" name="index" placeholder="e.g., 12345"><br>
    </form>
    <table border="1" cellpadding="5">
        <tr><th>Q#</th><th colspan="4">Options</th></tr>
        {% for q in quiz.questions %}
        <tr>
            <td>{{ loop.index }}</td>
            {% for opt in q.options %}
                <td>{{ opt }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <p>Print this page and distribute to students.</p>
</body>
</html>
